<div class="container">
  {{diagnostic}}
  <h2>Forms</h2>
  <form #heroForm="ngForm">
      <div class="form-group">
        
        <input typeS="text" class="form-control" id="name" placeholder="Name" required [(ngModel)]="model.name" name="name"  #spy/>      
      </div>
      <div class="form-group">
        
        <input type="text" class="form-control" id="name" placeholder="Experience" required [(ngModel)]="model.experience" name="experience"/>      
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
      <br>
      {{spy.className}}
  </form>
</div>